@model CardIndexVM
<div class="container">
    <div class="row">
        @if(Model.BannerTopVM is not null)
        {
            <div class="card" style="width: 18rem;">
                <img src="~/@Model.BannerTopVM.ImageURL" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Model.BannerTopVM.Title</h5>
                    <p class="card-text">@Model.BannerTopVM.Description</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@Model.BannerTopVM.ButtonText</li>
                    <li class="list-group-item">@Model.BannerTopVM.BannerPosition</li>
                </ul>
                <div class="card-body">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editBanner">
                        Edit
                    </button>
                 
                    <!-- Modal -->
                    <div class="modal fade" id="editBanner" tabindex="-1" aria-labelledby="editBanner" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form asp-controller="Banner" asp-action="Edit" asp-route-id="@Model.BannerTopVM.Id" method="post" enctype="multipart/form-data">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="editBanner">Modal title</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label asp-for="BannerEditVM.Image">Image: </label>
                                            <input asp-for="BannerEditVM.Image" class="form-control" />
                                            <span asp-validation-for="BannerEditVM.Image"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label asp-for="BannerEditVM.Title">Title: </label>
                                            <input asp-for="BannerEditVM.Title" value="@Model.BannerTopVM.Title" class="form-control" />
                                            <span asp-validation-for="BannerEditVM.Title"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label asp-for="BannerEditVM.Description">Description: </label>
                                            <textarea asp-for="BannerEditVM.Description" class="form-control">@Model.BannerTopVM.Description</textarea>
                                            <span asp-validation-for="BannerEditVM.Description"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label asp-for="BannerEditVM.ButtonText">ButtonText: </label>
                                            <input asp-for="BannerEditVM.ButtonText" value="@Model.BannerTopVM.ButtonText" class="form-control" />
                                            <span asp-validation-for="BannerEditVM.ButtonText"></span>
                                        </div>
                                        <input hidden asp-for="BannerEditVM.BannerPosition" value="@Model.BannerTopVM.BannerPosition" class="form-control" />

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section scripts{
    <partial name="_validationPartial"></partial>
};
